@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');

*{
    font-family: 'Titillium Web', sans-serif;
    font-size: 2rem;
    background: #ffa500;
    font-size: 1rem;
    box-sizing: border-box;
    color: black;
    text-align: center;
}

#nav-bar{
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 0cm;
    left: 0cm;
    width: 100%;
    padding:5px 10px;
    
}
#header-img{
    border-radius: 10px;
    cursor: pointer;
}

.nav-links{
    list-style: none;
    justify-content: flex-end;
    
}
.nav-links li{
    display: inline-block;
    position: relative;
    top: 12px;
    text-decoration: none;
    color: black;
    background: none;
    margin-inline: 20px;
    padding: 10px;
    padding-inline: 20px;
}
.nav-links li:hover{
    color: #B8A99A;
    background: black;
    border-radius: 5px;
}
.video{
    margin-top: 10%;
    text-align: center;
    padding: 10%;
    padding-top: 5.625%;
}
#video{
    height: 19rem;
    border-radius: 1rem;
}

#form{
    display: flex;
    flex-direction: column;
    
     
}
#name{
    font-size: 2rem;
}


input{
    border-style: solid;
    border-color: black;
    border-radius: 5px;
}
input[type="email"]{
    width: 20rem;
    margin-bottom: 5px;
}
input[type="submit"]:hover{
    color: #ffa500;
    background-color: black;
}
#cards{
    display: flex;
    padding: 20px 10px;
    box-sizing: border-box;
    justify-content: center;
    padding-block: 10%;
}
#silver{
    border: 3px black solid;
    border-radius: 10px;
    margin: 5px;
    background-color: #ffa500;
}
#gold{
    border: 3px black solid;
    border-radius: 10px;
    margin: 5px;
   background-color: #ffa500;
}
#platinum{
    border: 3px black solid;
    border-radius: 10px;
    margin: 5px;
    background-color: #ffa500;
}
.card{
    max-width: 18rem;
    color: black;
}
img{
    border-radius: 5px;
    padding: 6px;
    
}
#cards .card:hover{
    transform: scale(1.05);
    color: #ffa500;
    background-color: black;
    transition: all 0.5s ease;
}
img:hover{
    color: #ffa500;
    background-color: black;
    transition: all 0.5s ease;
}